<!-- standard header -->
<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand" href="investment-dashboard.html">
                <img data-bs-img="light" src="assets/img/arka/logo-light.webp" alt="">
                <img data-bs-img="dark" src="assets/img/arka/logo-dark.webp" alt="">
            </a>

            <div class=" ms-auto "></div>
            <!-- right icons button -->
            <div class="ms-auto">


            </div>
        </div>
    </nav>
</header>