<!-- standard header -->
<header class="adminuiux-header">
    <!-- Fixed navbar -->
    <nav class="navbar">
        <div class="container-fluid">
            <!-- logo -->
            <a class="navbar-brand" href="investment-dashboard.html">
                <img data-bs-img="light" src="assets/img/logosny.png" alt="">
                <img data-bs-img="dark" src="assets/img/logosny.png" alt="">
                <div class="d-block ms-3">
                    <span class="h5">Investor<b>TSX</b></span>
                    <p class="fs-12 opacity-75">by Sinergify World</p>
                </div>
            </a>

            <div class=" ms-auto "></div>
            <!-- right icons button -->
            <div class="ms-auto">


            </div>
        </div>
    </nav>
</header>