<footer class="adminuiux-mobile-footer hide-on-scrolldown style-2">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link" href="investment-dashboard.html">
                    <span>
                        <i class="nav-icon" data-feather="home"></i>
                        <span class="nav-text">Home</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="investment-wallet.html">
                    <span>
                        <i class="nav-icon" data-feather="calendar"></i>
                        <span class="nav-text">Wallet</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="investment-calculator.html">
                    <span>
                        <i class="nav-icon bi bi-calculator"></i>
                        <span class="nav-text">Calc.</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>